// ==============================
// Custom Styles for My Portfolio
// ==============================

// Add your custom SCSS rules below.
$global-background-color-dark: #282828;
$header-background-color-dark: #282828;
$global-font-color: #161209;
$global-font-color-dark: #fff0e3;
$global-font-family: "geist", system-ui, -apple-system, Segoe UI, Roboto, Emoji,
  Helvetica, Arial, sans-serif;
// =============================
